header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    margin-right: auto;
}

.navigation {
    display: flex;

    li {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}